includeConfig './configs/containers.config'
includeConfig './configs/profiles.config'


manifest {
    name            = 'ViralFlow'
    author          = 'Wallau Lab'
    homePage        = 'https://github.com/WallauBioinfo/ViralFlow'
    description     = 'performs a reference guided genome assembly of non-segmented viruses'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.10.3'
    version         = 'v2.0_alpha'
}

params {
   
   mode = "ILLUMINA" // accepted "ILLUMINA" or "NANOPORE"

  // parameters user must provide
  primersBED=null

  // parameters user should be aware, but have default values
  virus = "sars-cov2" // accepted values are ("sars-cov2", "custom")
  outDir = "$launchDir/output/"
  inDir = "$launchDir/input/"

  // snpEff
  snpEffDBCatalog = "$projectDir/containers/snpEff_DB.catalog"
  databaseDir = "$projectDir/databases/"
  runSnpEff = true

  // fastp
  dedup = false
  ndedup = 3
  
  writeMappedReads = true
  
  // process parameters
  minLen = 75
  depth = 25
  minDpIntrahost = 100
  trimLen = 0

  // parameter to be set by user if a custom virus is used
  refGenomeCode=null
  referenceGFF=null
  referenceGenome=null

  // set available resources for nextflow
  nextflowSimCalls = 6

  // set quality params
  mapping_quality = 30
  base_quality = 30
  
  // set number for multithreads
  fastp_threads = 1
  bwa_threads = 1
  mafft_threads = 1
  nxtclade_jobs = 1
  pangolin_threads = 1

  // HPC specific
  queue_size = 100

  // set Bam files minimum size treshold to be considered as input for Picard
  minBamSize = 500 //bytes


  // --- | Nanopore specific parameters | ---
  // Input files
  ref = null
    
  // General parameters
  base_container = "$projectDir/containers/baseContainer.sif"
  output_dir = "$baseDir/output/"
    
  // Porechop parameters
  porechop_cpus = 4
  porechop_memory = 4.GB
  
  // minimap parameters
  minimap_cpus = 4
  minimap_memory = 4.GB

  // clair3 parameters
  clair3_cpus = 4
  clair3_memory = 4.GB
  clair3_chunk_size = 10000
  clair3_qual = 10
  clair3_model = "r941_prom_sup_g5014"

  // bcftools parameters
  af_threshold = 0.51
  np_min_depth = 20
}

executor {
   name = "local"
   //cpus = params.nextflowSimCalls
}

trace {
    enabled = true
    file = "${params.outDir}/RUN_METADATA/execution_trace.tsv"
    overwrite = true
    separator = '\t'
    fields = 'task_id,hash,native_id,name,tag,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,container'
}

report {
    enabled = true
    file = "${params.outDir}/RUN_METADATA/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outDir}/RUN_METADATA/execution_timeline.html"
    overwrite = true
}


process {
    cache = "lenient"
    
    withLabel: "NP_basecontainer" {
        container = "${params.base_container}"
    }
    
    withName: run_porechop {
        cpus = "${params.porechop_cpus}"
        memory = "${params.porechop_memory}"
    }

    withName: run_minimap2 {
        cpus = "${params.minimap_cpus}"
        memory = "${params.minimap_memory}"
    }

    withName: run_clair3 {
        container = "docker://hkubal/clair3:v1.2.0"
        cpus = "${params.clair3_cpus}"
        memory = "${params.clair3_memory}"
    }

    withName: run_bcftools {
        container = "${params.base_container}"
    }

}
