/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
// Test-specific configuration
params {
    // Default test parameters
    outDir = "test_results"
}

// Enable Singularity for testing
singularity {
    enabled = true
    autoMounts = true
    runOptions = "--writable-tmpfs"
}

// Test-specific process settings
process {
    cpus = 1
    memory = '1 GB'

    // Build from containers/Nanopore_baseContainer.sing before running
    // tests that execute Nanopore modules.
    withLabel: "NP_basecontainer" {
        container = "$projectDir/containers/baseContainer.sif"
    }

    withName: run_clair3 {
        container = "docker://hkubal/clair3:v1.2.0"
        cpus = 4
        memory = '4 GB'
    }
}
