singularity {
    enabled = true
    autoMounts = true
    // SIF images are read-only; writable access is scoped to snpEff below.
}

process {
    withName:prepareDatabase{
        container = "$projectDir/containers/edirect:1.1.0.sif"
    }
    withName:indexReferenceBWA {
        container = "$projectDir/containers/generate_consensus:2.0.0.sif"
    }
    withName:runFastp {
        container = "$projectDir/containers/fastp:1.0.1.sif"
    }
    withName:runIvar {
        container = "$projectDir/containers/generate_consensus:2.0.0.sif"
    }
    withName:align2ref {
        container = "$projectDir/containers/generate_consensus:2.0.0.sif"
    }
    withName:runAmpliconClipping {
        container = "$projectDir/containers/samtools:1.11.0.sif"
    }
    withName:runReadCounts {
        container = "$projectDir/containers/intrahost_analysis:1.1.0.sif"
    }
    withName:alignConsensus2Ref {
        container = "$projectDir/containers/mafft:7.505_2.sif"
    }
    withName:runPangolin{
        container = "$projectDir/containers/pangolin:4.4.sif"
        containerOptions = { "--env 'XDG_CACHE_HOME=${task.workDir}/.cache'" }
    }
    withName:runNextClade{
        container = "$projectDir/containers/nextclade:3.18.sif"
    }
    withName:runPicard{
       container = "$projectDir/containers/picard:2.27.2_2.sif"
    }
    withName:runSnpEff{
        containerOptions = "--writable-tmpfs"
        container = "$projectDir/containers/snpeff:5.0.sif"
    }
    withName:genFaIdx{
        container = "$projectDir/containers/generate_consensus:2.0.0.sif"
    }
    withName:getMappedReads{
        container = "$projectDir/containers/generate_consensus:2.0.0.sif"
    }
    withName:getUnmappedReads{
        container = "$projectDir/containers/generate_consensus:2.0.0.sif"
    }
    withName:checkSnpEffDB{
        container = "$projectDir/containers/snpeff:5.0.sif"
    }
    withName:runVfReport{
        container = "$projectDir/containers/generate_report:1.1.0.sif"
    }
    withName:coveragePlot{
        container = "$projectDir/containers/generate_plots:2.0.0.sif"
    }
    withName:snpPlot{
        container = "$projectDir/containers/generate_plots:2.0.0.sif"
    }
    withName:compileOutputs{
        container = "$projectDir/containers/compiled_outputs:1.1.0.sif"
    }
}
